{% extends "dashboard.html" %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/overview/transaction-form.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/overview/datatable.js') }}" defer></script>
{% endblock %}

{% block dashboard %}
<div class="row">
  {% include 'explore/_add_transaction_form.html' %}

  {% include 'explore/_recent_transactions.html' %}

  {% for card in cards %}
    {% include 'explore/_card.html' %}
  {% endfor %}
</div>
{% endblock %}