<div id='subaccountModal' class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Subaccount</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <form action="#" method="post" name="account">
        <div class="modal-body">

          {{ form.hidden_tag() }}
          <fieldset disabled>
            <div class="form-group">
              <label for="parentAccountName">Parent Account</label>
              <input type="text" id="parentAccountName" class="form-control" placeholder="">
            </div>
          </fieldset>
          <div class="d-none">
            {{ form.parent_id.label(class_="col-form-label") }}
            {{ form.parent_id(class_="form-control") }}
          </div>
          <!-- Transaction Source Account -->
          <div class="form-row form-group">
            {{ form.group_id.label(class_="col-form-label") }}
            {{ form.group_id(class_="custom-select") }}
            {% for error in form.group_id.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="form-row form-group">
            {{ form.name.label(class_="col-form-label") }}
            {{ form.name(class_="form-control") }}
            {% for error in form.name.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>
          {{ form.submit(class_="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
</div>