<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{{ title }} - FinerPlan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='vendor/images/author/avatar.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-4.3.1.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/font-awesome-4.7.0.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/themify-icons.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/metisMenu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/slicknav.min.css') }}">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">


  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/typography.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/srtdash-1.0.default.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/srtdash-1.0.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/responsive.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- START - jQuery Reference -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
  <script type='text/javascript'>//<![CDATA[
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript
    src='/static/vendor/js/jquery-3.4.1.min.js' type='text/javascript' %3E%3C/script%3E"));
    }//]]>

  </script>
  <!-- END - jQuery Reference -->

  <script src="{{ url_for('static', filename='vendor/js/bootstrap-4.3.1.bundle.min.js') }}" defer></script>

  <script src="{{ url_for('static', filename='vendor/js/metisMenu.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor/js/jquery.slimscroll.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor/js/jquery.slicknav.min.js') }}" defer></script>

  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js" defer></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
  <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" defer></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" defer></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js" defer></script>

  <!-- others plugins -->
  <script src="{{ url_for('static', filename='vendor/js/plugins.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor/js/scripts.js') }}" defer></script>
  {% block extra_scripts %}{% endblock %}


</head>
<body>

<div class="page-container">
  <div class="sidebar-menu">
    <div class="sidebar-header">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/icon/logo.png') }}" alt="FinerPlan">
      </div>
    </div>
    <div class="main-menu">
      <div class="menu-inner">
        <nav>
          <ul class="metismenu" id="menu">
            <li class="active">
              <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
              <ul class="collapse">
                <li><a href="{{ url_for('dashboard.overview') }}">Overview</a></li>
                <li><a href="{{ url_for('dashboard.expenses') }}">Expenses</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="header-area">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-8 clearfix">
          <div class="nav-btn pull-left">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="search-box pull-left">
            <form action="#">
              <input type="text" name="search" placeholder="Search..." required>
              <i class="ti-search"></i>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-sm-4 clearfix">
          <ul class="notification-area pull-right">
            <li class="dropdown">
              <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                {% if get_flashed_messages()|length > 0 %}
                <span>{{get_flashed_messages()|length}}</span>
                {% endif %}
              </i>
              <div class="dropdown-menu bell-notify-box notify-box">
                <span class="notify-title">You have {{get_flashed_messages()|length}} new notifications <a href="#">view all</a></span>
                <div class="nofity-list">
                  <ul>
                    {% for message in get_flashed_messages() %}
                    <li class=flash>{{ message }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
            <li class="settings-btn">
              <i class="ti-settings"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-title-area">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="breadcrumbs-area clearfix">
            {% block title %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-inner">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
<div class="offset-area">
  <div class="offset-close"><i class="ti-close"></i></div>
  <ul class="nav offset-menu-tab">
    <li><a class="active" data-toggle="tab" href="#activity">Activity</a></li>
    <li><a data-toggle="tab">Settings</a></li>
  </ul>
  <div class="offset-content tab-content">
    <div id="activity" class="tab-pane fade in show active">
      <div class="recent-activity">

      </div>
    </div>
    <div id="settings" class="tab-pane fade">
      <div class="offset-settings">
        <h4>General Settings</h4>
        <a href="#">Log Out</a>
        <div class="settings-list">

        </div>
      </div>
    </div>
  </div>
</div>
</body>
