{% extends "base.html" %}


{% block title %}
<h4 class="page-title pull-left">Expenses</h4>
{% endblock %}

{% block content %}
<div class="row">
  {% if expenses %}
    <table>
    <caption><h2>Monthly Expenses</h2></caption>
    <tr>
      <th>Category</th>
      <th>Accrual Date</th>
      <th>Description</th>
      <th>Category</th>
      <th>Value</th>
    </tr>
    {% for row in expenses %}
      <tr>
      {% for elem in row %}
        <td>{{ elem }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  {% else %}
      <h2><center>There are no expenses registered yet.</center></h2>
  {% endif %}

  <caption><h2><center>Past 6 months expenses</center></h2></caption>
  {{ tables|safe }}
</div>

{% endblock %}
