{% extends "base.html" %}

{% block content %}
<div class="overview">
  <div class="basic">
    <div class="basic-report">
      <h1>Hi, {{ report.name }}!</h1>
      <div><p>
        Your current balance is <b>{{ report.balance }}</b><br>
        Your balance after paying all debts will be
            <b>{{ report.free_balance }}</b>
      </p></div>
      <div>
        <p>
          Your next credit card payment is due {{ report.credit_date }}.<br>
          The current value is <b>{{ report.credit_value }}</b>
          ({{ report.credit_state }})<br>
          {% if report.credit_state == 'Closed' %}
            The current value for the following open invoice is
            <b>{{ report.credit_nvalue }}</b>
          {% endif %}
        </p>
      </div>
      <div>
        <p>
            Current month earnings: <b>{{ report.earnings }}</b><br>
            Available for investing: <b>{{ report.suggested_investment}}</b>
        </p>
      </div>
      <div><p>
          Current month expenses: <b>{{ report.expenses }}</b><br>
          <!--
          Last 12 months average expenses: <b>{{ report.yr_avg_expenses }}</b>
          -->
          Exponential Moving Average Expending: <b>{{ report.ema }}</b><br>
          Double Exponential Moving Average Expending: <b>{{ report.dema }}</b>
      </p></div>
      <div><p>This month savings: <b>{{ report.savings }}</b></p></div>
      <div>
        <p>Last 12 months savings rate: <b>{{ report.savings_rate }}</b></p>
      </div>
    </div>
    <br><br>
    <form action="" method="post" name="transaction" class="basic-form">
      {{ form.hidden_tag() }}
      <li class="flex-header">
        <h2>Add transaction</h2>
      </li>
      <li id='transaction_type' class="form-row">
          {% for subfield in form.transaction %}
            <tr>
                <td>{{ subfield }}{{ subfield.label }}</td>
            </tr>
          {% endfor %}{% for error in form.transaction.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <div id='basic'>
      <li class="form-row">
        {{ form.description.label }}<br>
        {{ form.description(size=32) }}<br>
        {% for error in form.description.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <div class="checkbox" id="new_cat_div" >
          <input type="checkbox" id="new_cat_check" value="edit">
          <label>Add new category</label>
      </div>
      <li id="new_category" class="form-row">
        {{ form.new_cat.label }}<br>
        {{ form.new_cat }}
        {% for error in form.new_cat.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <li id="expenses_category" class="form-row">
        {{ form.cat_expense.label }}<br>
        {{ form.cat_expense }}
        {% for error in form.cat_expense.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <li id="earnings_category" class="form-row">
        {{ form.cat_earning.label }}<br>
        {{ form.cat_earning }}
        {% for error in form.cat_earning.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <li class="form-row">
        {{ form.date.label }}<br>
        {{ form.date(size=32) }}<br>
        {% for error in form.date.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <li class="form-row">
        {{ form.value.label }}<br>
        {{ form.value(size=32) }}<br><br>
        {% for error in form.value.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <li id="pay_method" class="form-row">
        {% for subfield in form.pay_method %}
          <tr>
              <td>{{ subfield }}{{ subfield.label }}</td>
          </tr>
        {% endfor %}
        {% for error in form.pay_method.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
      </li>
      <li id=credit_inst class="form-row">
          {{ form.installments.label }}<br>
          {{ form.installments(size=32) }}<br><br>
          {% for error in form.installments.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </li>
      {{ form.submit() }}
      </div>
    </form>
  </div>
  <hr>
  <div class="activity">
    {% if tables.expenses %}
      <table>
      <caption><h2>Recent Expenses</h2></caption>
      <tr>
        <th>Payment Method</th>
        <th>Accrual Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Value</th>
      </tr>
      {% for row in tables.expenses %}
        <tr>
        {% for elem in row %}
          <td>{{ elem }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <h2><center>There are no expenses registered yet.</center></h2>
    {% endif %}
    {% if tables.earnings %}
      <table>
      <caption><h2>Current Month Earnings</h2></caption>
      <tr>
        <th>Accrual Date</th>
        <th>Cash Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Value</th>
      </tr>
      {% for row in tables.earnings %}
        <tr>
        {% for elem in row %}
          <td>{{ elem }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <h2><center>There are no earnings registered for this month yet.</center></h2>
    {% endif %}
    {% if tables.investments %}
      <table>
      <caption><h2>Current Month  Investments</h2></caption>
      <tr>
        <th>Accrual Date</th>
        <th>Cash Date</th>
        <th>Description</th>
        <th>Value</th>
      </tr>
      {% for row in tables.investments %}
        <tr>
        {% for elem in row %}
          <td>{{ elem }}</td>
        {% endfor %}
          </tr>
      {% endfor %}
      </table>
    {% else %}
      <h2><center>There are no investments registered for this month yet.</center></h2>
    {% endif %}
  </div>
</div>

<script src="static/jquery.js"></script>

{% endblock %}
