{% extends "dashboard.html" %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/configuration/add_accounts.js') }}"></script>
{% endblock %}

{% block dashboard %}
<div class="row">
  <!-- Add Account Form -->
  <div class="col-12 col-md-6 col-xl-4 py-3">
    <div class="card">
      <div class="card-body">
        <h2>Add Account</h2>
        <form action="#" method="post" name="account">
          {{ form.hidden_tag() }}

          <!-- Account Parent -->
          <fieldset disabled>
            <div class="form-group">
              <label for="parentAccountName">Parent Account</label>
              <input type="text" id="parentAccountName" class="form-control" placeholder="">
            </div>
          </fieldset>
          <div class="d-none">
            {{ form.parent_id.label(class_="col-form-label") }}
            {{ form.parent_id(class_="form-control") }}
          </div>

          <!-- Account Group -->
          <div class="form-row form-group">
            {{ form.group_id.label(class_="col-form-label") }}
            {{ form.group_id(class_="custom-select") }}
            {% for error in form.group_id.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>

          <!-- Account Name -->
          <div class="form-row form-group">
            {{ form.name.label(class_="col-form-label") }}
            {{ form.name(class_="form-control") }}
            {% for error in form.name.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>

          <!-- Credit Card Closing Day -->
          <div class="form-row form-group">
            {{ form.closing.label(class_="col-form-label") }}
            {{ form.closing(class_="form-control") }}
            {% for error in form.closing.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>

          <!-- Credit Card Payment Day -->
          <div class="form-row form-group">
            {{ form.payment.label(class_="col-form-label") }}
            {{ form.payment(class_="form-control") }}
            {% for error in form.payment.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>

          {{ form.submit(class_="btn btn-primary") }}
        </form>
      </div>
    </div>
  </div>

  <!-- Account List -->
  <div class="col-12 col-md-8 py-3">
    <div class="card">
      <div class="card-body">
        <h2 class="header-title">Accounts</h2>
        {% if accounts %}
        <table class="table text-center">
          <thead class="text-uppercase bg-primary">
            <tr class="text-white">
              <th scope="col">Fullname</th>
              <th scope="col">Group</th>
              <th scope="col">Subaccount</th>
            </tr>
          </thead>
          <tbody>
          {% for row in accounts %}
            <tr>
              <td>{{ row.fullname }}</td>
              <td>{{ row.group }}</td>
              <td>
                <a href="javascript:fill_modal('{{ row.id }}', '{{ row.name }}')">
                  <i class="fa fa-plus-square" data-toggle="modal" data-target="#subaccountModal"></i>
                </a>
              </td>
              <!--<td><i class="fa fa-edit"></i></td>-->
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div>
          <form method="post" action="/accounts/create_common" name="create_accounts">
            There are no accounts created yet. Would you like us to automagically create some for you?
            <button class="btn btn-primary btn-xs ml-2" name="create_accounts_button" type="submit">Yes! Please do it</button>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>
{% endblock %}