<div class="card">
  <div class="card-body">
    <form action="#" method="post" name="transaction">
      {{ form.hidden_tag() }}

      <h2>Add transaction</h2>
      <!-- Transaction Description -->
      <div class="form-row form-group">
        {{ form.description.label(class_="col-form-label") }}
        {{ form.description(class_="form-control") }}
        {% for error in form.description.errors %}
          <span>[{{ error }}]</span>
        {% endfor %}
      </div>
      <!-- Transaction Date -->
      <div class="form-row form-group">
        {{ form.accrual_date.label(class_="col-form-label") }}
        {{ form.accrual_date(class_="form-control", type="date") }}
        {% for error in form.accrual_date.errors %}
          <span>[{{ error }}]</span>
        {% endfor %}
      </div>
      <!-- Transaction Value -->
      <div class="form-row form-group">
        {{ form.value.label(class_="col-form-label") }}
        {{ form.value(class_="form-control") }}
        {% for error in form.value.errors %}
          <span>[{{ error }}]</span>
        {% endfor %}
      </div>
      <!-- Transaction kind -->
      <div id="transactionKind" class="form-row justify-content-center">
        {{ form.transaction_kind.label(class_="col-form-label col-12 mt-2") }}
        <div class="flex-fill text-center">
        {% for subfield in form.transaction_kind %}
          <div class="custom-control custom-radio custom-control-inline">
            {{ subfield(class_="custom-control-input") }}
            {{ subfield.label(class_="custom-control-label") }}
          </div>
        {% endfor %}
        </div>
        {% for error in form.transaction_kind.errors %}
          <span>[{{ error }}]</span>
        {% endfor %}
      </div>
      <!-- Transaction Source Account -->
      <div class="form-row form-group">
        {{ form.account_source.label(class_="col-form-label") }}
        {{ form.account_source(class_="custom-select") }}
        {% for error in form.account_source.errors %}
          <span>[{{ error }}]</span>
        {% endfor %}
      </div>
      <!-- Transaction Destination Account -->
      <div class="form-row form-group">
        {{ form.account_destination.label(class_="col-form-label") }}
        {{ form.account_destination(class_="custom-select") }}
        {% for error in form.account_destination.errors %}
          <span>[{{ error }}]</span>
        {% endfor %}
      </div>
      <!-- Credit card installments -->
      <!--
      <div id="paymentInstallments" class="form-row form-group">
        {{ form.installments.label(class_="col-form-label") }}
        {{ form.installments(class_="form-control", type="number") }}
        {% for error in form.installments.errors %}
          <span>[{{ error }}]</span>
        {% endfor %}
      </div>
      -->
      {{ form.submit(class_="btn btn-primary mt-4 pr-4 pl-4") }}
    </form>
  </div>
</div>