<div class="card">
  <div class="card-body">
    <h2>Basic Report</h2>
    <p id="basic-report">
      Your current balance is <b>{{ "%.2f"|format(report.basic.balance())  }}</b><br>
      Your balance after paying all debts will be<b>{{ "%.2f"|format(report.basic.free_balance())  }}</b><br>
      Your next credit card payment is due {{ report.credit_card.future_payments() }}.<br>
      The current value is <b>{{ "%.2f"|format(report.credit_card.invoice_value())  }}</b> ({{ report.credit_card.state() }})<br>
      {% if report.credit_card.state == 'Closed' %}
        The current value for the following open invoice is
        <b>{{ "%.2f"|format(report.credit_card.invoice_value(1))  }}</b><br>
      {% endif %}
      Current month earnings: <b>{{ "%.2f"|format(report.basic.income_and_expenses('Earnings'))  }}</b><br>
      Available for luxury expending: <b>{{ "%.2f"|format(report.budget.available())  }}</b> ({{ report.budget.rate() }})<br>
      Current month expenses: <b>{{ "%.2f"|format(report.basic.income_and_expenses('Expenses'))  }}</b><br>
      Double Exponential Moving Average Expending: <b>{{ "%.2f"|format(report.basic.double_ema())  }}</b><br>
      This month savings: <b>{{ "%.2f"|format(report.basic.month_savings())  }}</b><br>
      Last 12 months savings rate: <b>{{ report.basic.savings_rate() }}</b>
    </p>
  </div>
</div>