<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{{ title }} - FinerPlan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='vendor/images/author/avatar.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap-4.3.1.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/font-awesome-4.7.0.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/themify-icons.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/metisMenu.css') }}">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/typography.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/srtdash-1.0.default.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/srtdash-1.0.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/responsive.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="{{ url_for('static', filename='vendor/js/jquery-3.4.1.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor/js/bootstrap-4.3.1.bundle.min.js') }}" defer></script>

  <script src="{{ url_for('static', filename='vendor/js/metisMenu.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor/js/jquery.slimscroll.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='vendor/js/jquery.slicknav.min.js') }}" defer></script>

  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js" defer></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
  <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" defer></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" defer></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js" defer></script>

  <!-- others plugins -->
  <script src="{{ url_for('static', filename='vendor/js/plugins.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
  {% block extra_scripts %}{% endblock %}

</head>
<body>
  <!--
  <div id="preloader">
    <div class="loader"></div>
  </div>
  -->

  {% block content %}{% endblock %}
</body>
</html>