{% extends "dashboard.html" %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/overview/transaction-form.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/overview/datatable.js') }}" defer></script>
{% endblock %}

{% block dashboard %}
<div class="row">
  <div class="col-12 col-md-6 col-xl-5 py-3">
    <div class="card">
      <div class="card-body">
        <h2>Basic Report</h2>
        <p id="basic-report">
          Your current balance is <b>{{ report.balance }}</b><br>
          Your balance after paying all debts will be<b>{{ report.free_balance }}</b><br>
          Your next credit card payment is due {{ report.credit_date }}.<br>
          The current value is <b>{{ report.credit_value }}</b>({{ report.credit_state }})<br>
          {% if report.credit_state == 'Closed' %}
            The current value for the following open invoice is
            <b>{{ report.credit_nvalue }}</b><br>
          {% endif %}
          Current month earnings: <b>{{ report.earnings }}</b><br>
          Available for luxury expending: <b>{{ report.lux_budget}}</b>({{ report.lux_rate}})<br>
          Current month expenses: <b>{{ report.expenses }}</b><br>
          Double Exponential Moving Average Expending: <b>{{ report.dema }}</b><br>
          This month savings: <b>{{ report.savings }}</b><br>
          Last 12 months savings rate: <b>{{ report.savings_rate }}</b>
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 py-3">
    <div class="card">
      <div class="card-body">
        <form action="#" method="post" name="transaction">
          {{ form.hidden_tag() }}

          <h2>Add transaction</h2>
          <!-- Transaction Description -->
          <div class="form-row form-group">
            {{ form.description.label(class_="col-form-label") }}
            {{ form.description(class_="form-control") }}
            {% for error in form.description.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Transaction Date -->
          <div class="form-row form-group">
            {{ form.accrual_date.label(class_="col-form-label") }}
            {{ form.accrual_date(class_="form-control", type="date") }}
            {% for error in form.accrual_date.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Transaction Value -->
          <div class="form-row form-group">
            {{ form.value.label(class_="col-form-label") }}
            {{ form.value(class_="form-control") }}
            {% for error in form.value.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Transaction kind -->
          <div id="transactionKind" class="form-row justify-content-center">
            {{ form.transaction_kind.label(class_="col-form-label col-12 mt-2") }}
            <div class="flex-fill text-center">
            {% for subfield in form.transaction_kind %}
              <div class="custom-control custom-radio custom-control-inline">
                {{ subfield(class_="custom-control-input") }}
                {{ subfield.label(class_="custom-control-label") }}
              </div>
            {% endfor %}
            </div>
            {% for error in form.transaction_kind.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Transaction Source Account -->
          <div class="form-row form-group">
            {{ form.account_source.label(class_="col-form-label") }}
            {{ form.account_source(class_="custom-select") }}
            {% for error in form.account_source.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>
          <!-- Transaction Destination Account -->
          <div class="form-row form-group">
            {{ form.account_destination.label(class_="col-form-label") }}
            {{ form.account_destination(class_="custom-select") }}
            {% for error in form.account_destination.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>

          <!-- Credit card installments -->
          <div id="paymentInstallments" class="form-row form-group">
            {{ form.installments.label(class_="col-form-label") }}
            {{ form.installments(class_="form-control", type="number") }}
            {% for error in form.installments.errors %}
              <span>[{{ error }}]</span>
            {% endfor %}
          </div>

          {{ form.submit(class_="btn btn-primary mt-4 pr-4 pl-4") }}
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8 py-3">
    <div class="card">
      <div class="card-body">
        <h2 class="header-title">Recent Transactions</h2>
        {% if tables.transactions %}
        <div class="data-tables">
          <table id="dataTable" class="text-center">
            <thead class="bg-light text-capitalize">
              <tr>
                <th>Accrual Date</th>
                <th>Description</th>
                <th>Value</th>
                <th>Source Account</th>
                <th>Destination Account</th>
              </tr>
            </thead>
            <tbody>
            {% for row in tables.transactions %}
              <tr>
              {% for elem in row %}
                <td>{{ elem }}</td>
              {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p>There are no transactions registered yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}